* {
  font-family: Geneva,Tahoma,Verdana,sans-serif; 
  /* color: #fff; */
}

body {
  margin: 0;
}

.banner {
  margin-bottom: 100px;
}

.backg-logo {
  width: 100%;
  height: 400px;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 300px;
  float: right;
  box-shadow: 0 0 50px 7px rgb(0, 0, 0);
  background-color: #422e64;
  margin: 0 7% 0 0;
}

.circle img {
  width: 500px;
  position: relative;
  vertical-align: middle;
  top: calc(50% - 70px);
  left: calc(3% - 20px);
}

.backg-glasses {
  background: linear-gradient(to right, #f78f8e, #ffa09f);
  height: 500px;
  margin-top: -300px;
}

.backg-glasses img {
  height: 350px;
  margin-top: -250px;
  margin-left: -100px;
}

.logo-pages {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  float: right;
  box-shadow: 0 0 50px 7px rgb(0, 0, 0);
  background-color: #422e64;
  margin: 0 7% 0 0;
  position: relative;
  top: -150px;
}
.logo-pages img{
  width: 300px;
  position: relative;
  top: calc(57% - 70px);
}

.primeira-div {
  background: linear-gradient(to right, #f78f8e, #ffa09f);
  z-index: -1;
  height: 100px;
  margin-top: 50px;
}

.page-linked {
  /* @TODO tirar display com bootstrap funcionando */
  display: flex;
}


.hr {
  width: 200px;
  height: 4px;
  border-radius: 10px;
  background-color: #192525;
  margin-left: 50px;
}
.footer img{
  width: 200px;
}
.title  {
  color: #192525;
  padding: 25px 0;
}
.menu {
  font-size: 17px;
  position: absolute;
  font-weight: 600;
}
a.active, a:hover {
  color: #51c862;
}
a.disabled {
  color: #5b6365 !important;
}
.nav-tabs, button {
  background-color: #422e64;
}
.tablist {
  background-color: #422e64;
}
.tablist .nav-link {
  color: #fff;
}
.tablist .nav-link.active {
  background-color: #f68285;
}
.form-control:focus {
  border-color: #5a9c92;
  box-shadow: 0 0 0 0.2rem rgba(90, 156, 146, 0.25);
}
label, select, option, a {
  color: #242b31;
}
select {
  display: inline-block;
  width: 38%;
  height: 38px;
  border-radius: 3px;
}
.origem {
  display: inline-block;
  width: 58%;
  margin-left: 3%;
}
.float {
  float: right;
  margin: 0 1% 2%;
}
.buttons {
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}
#inputUpload {
  display: block;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  border-color: #ced4da;
}
.form-group {
  padding: 15px;
}
.tab-pane {
  max-height: 330px;
  height: 330px;
}
h4 {
  color: #192525;
  margin-top: 20px;
  padding: 10px;
  text-align: right;
}
.steps {
  display: flex;
  padding: 10px 0;
}
.number {
  font-weight: 600;
  padding: 5px 10px 0;
  border-radius: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #42c920;
}
.steps div, p{
  color: #192525;
}
.footer {
  /* border-top: 1px solid #5a9c92; */
  width: 100%;
  margin-top: 130px;
  /* background-color: #5a9c92; */
  /* border-bottom: 2px solid #fff; */
  /* border-top: 1px solid #242b31; */
  padding: 0.5rem;
}
.footer .container {
  color: #242b31;  
  /* background-color: #5a9c92; */
  /* border-top: 1px solid #fff; */
}



@media (min-width: 1500px) {
  .oculos {
    height: 600px;
  }
  
  .oculos img {
    float: left;
    margin: 113px 135px 0 0;
  }
}

